<!-- templates/login.html -->
<!-- Plantilla HTML para la página de inicio de sesión -->

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Iniciar Sesión</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <header>
        <h1>Iniciar Sesión</h1>
    </header>
    <nav>
        <ul>
            <li><a href="{{ url_for('index') }}">Inicio</a></li>
            <li><a href="{{ url_for('user_bp.show_register') }}">Registrarse</a></li>
            <li><a href="{{ url_for('user_bp.show_login') }}">Iniciar Sesión</a></li>
        </ul>
    </nav>
    <main>
        <section>
            <form id="loginForm">
                <label for="email">Email:</label>
                <input type="email" id="email" name="email" required>
                <label for="password">Contraseña:</label>
                <input type="password" id="password" name="password" required>
                <button type="submit">Iniciar Sesión</button>
            </form>
            <div id="response"></div>
        </section>
    </main>
    <footer>
        <p>&copy; 2024 Tienda de Mascotas. Todos los derechos reservados.</p>
    </footer>
    <script src="{{ url_for('static', filename='js/login.js') }}"></script>
</body>
</html>
