# .env.example
# Este archivo contiene ejemplos de variables de entorno para la configuración del proyecto.

SECRET_KEY=your_secret_key_here  # Clave secreta utilizada por Flask para la gestión de sesiones y la protección contra ataques CSRF
DATABASE_URL=sqlite:///pet_store.db  # URL de la base de datos SQLite utilizada por SQLAlchemy
DEBUG=True  # Activa el modo de depuración en Flask

